/*----------------------------------------------------------------------------*/
/* Page Body CSS                                                              */
/*----------------------------------------------------------------------------*/

body {
	margin:0; 
	padding:0; 
	font-family:"Roboto-Regular",sans-serif;
}

/*----------------------------------------------------------------------------*/
/* Navigation Header CSS                                                      */
/*----------------------------------------------------------------------------*/

@import "header-nav.scss";

/*----------------------------------------------------------------------------*/
/* Hero Header CSS                                                            */
/*----------------------------------------------------------------------------*/

@import "hero-header.scss";

/*----------------------------------------------------------------------------*/
/* Redefining Web CSS                                                         */
/*----------------------------------------------------------------------------*/

@import "redefining-web.scss";

/*----------------------------------------------------------------------------*/
/* Services section CSS                                                       */
/*----------------------------------------------------------------------------*/

@import "services-section.scss";

/*----------------------------------------------------------------------------*/
/* Our Team CSS                                                               */
/*----------------------------------------------------------------------------*/

@import "our-team.scss";

/*----------------------------------------------------------------------------*/
/* contact Form CSS                                                           */
/*----------------------------------------------------------------------------*/

@import "contact-section.scss";

/*----------------------------------------------------------------------------*/
/* Footer section CSS                                                         */
/*----------------------------------------------------------------------------*/

@import "footer-section.scss";

/*----------------------------------------------------------------------------*/
/* Pricing modal CSS                                                          */
/*----------------------------------------------------------------------------*/

@import "pricing-modal.scss";

/*----------------------------------------------------------------------------*/
/* Learn more modal CSS                                                       */
/*----------------------------------------------------------------------------*/

@import "learn-more-modal.scss";