<!-- Header Nav Starts Here -->
	<header id="header-nav">
		<nav class = "navbar navbar-default" role = "navigation">
			<div class = "navbar-header">
				<button type = "button" class = "navbar-toggle" 
					data-toggle = "collapse" data-target = "#navbar-collapse">
					<span class = "sr-only">Toggle navigation</span>
					<span class = "icon-bar"></span>
					<span class = "icon-bar"></span>
					<span class = "icon-bar"></span>
				</button>
				<a class = "navbar-brand" href = "#">SomeCompany</a>
			</div>
			<div class = "collapse navbar-collapse" id = "navbar-collapse">
				<ul class = "nav navbar-nav">
					<li><a href = "#" {{action "toggleModal"}} data-toggle="collapse" data-target=".navbar-collapse.in">Pricing</a></li>
					<li><a href = "#about" data-toggle="collapse" data-target=".navbar-collapse.in">About</a></li>
					<li><a href = "#contact" data-toggle="collapse" data-target=".navbar-collapse.in">Contact</a></li>
				</ul>
			</div>
		</nav>
	</header>
<!-- Nav Ends Here -->

<!-- Pricing Modal Starts Here -->
	{{#if isShowingPriceModal}}
		{{#ember-wormhole renderInPlace="true"}}
			{{pricing-modal toggleModal='toggleModal'}}
		{{/ember-wormhole}}
	{{/if}}
<!-- Pricing Modal Ends Here -->