<div id="learn-more-modal">
	<div class="overlay"></div>
	<div class="dialog">
		<div class="row">
			<button class="close" {{action 'toggleModal'}}>&times;</button>
		</div>
		<div class="row">
			<div class="col-sm-12">
	            <div class="col-sm-12 text-center">
	                <div class="learn-more">
	                    <div class="learn-more-header">
	                        <h2>Redefining the Web</h2>
	                    </div>
	                    <div class="learn-more-body text-center">
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.
							</p>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.
							</p>
	                    </div>
	                </div>
	            </div>
	        </div>
    	</div>
	</div>
</div>
